In [185]:
import psycopg2

In [186]:
bbdd = 'uigcuqkx';
usuario = 'uigcuqkx';
password = '***********';
maquina = 'abul.db.elephantsql.com';
puerto = '5432';

In [187]:
conexion2 = psycopg2.connect(dbname=bbdd,
                            user=usuario,
                            password=password,
                            host=maquina,
                            port=puerto
                            )

In [188]:
cursor2 = conexion2.cursor()

In [189]:
# Query 1: Mostrar nombre y apellido de todos los Terapeutas
# SELECT nombre, apellido FROM suptech.terapeuta;
cursor2.execute("SELECT nombre, apellido FROM suptech.terapeuta;")

In [190]:
cursor2.fetchall()

[('Jorse', 'Luis'),
 ('Juan', 'Nito'),
 ('Ana', 'Torroja'),
 ('Bartolo', 'Meolitros'),
 ('Julio', 'Sandini'),
 ('Maria', 'Prieto'),
 ('Wilber', 'Anton')]

In [191]:
# Query 2: Mostrar nombre y apellido del Terapeuta con dni=99999999A
# SELECT nombre, apellido FROM suptech.terapeuta WHERE dni="99999999A";
cursor2.execute("SELECT nombre, apellido FROM suptech.terapeuta WHERE dni='99999999A';")

In [192]:
cursor2.fetchall()

[('Jorse', 'Luis')]

In [193]:
# Query 3: Mostrar nombre y apellido del Terapeuta en la cuenta A99999999
# SELECT nombre, apellido FROM suptech.terapeuta WHERE cuenta_id="A99999999";
cursor2.execute("SELECT nombre, apellido FROM suptech.terapeuta WHERE cuenta_id='A99999999';")

In [194]:
cursor2.fetchall()

[('Jorse', 'Luis')]

In [195]:
# Query 4: Mostrar nombre y apellido de todos los Usuarios
# SELECT nombre, apellido FROM suptech.usuario;
cursor2.execute("SELECT nombre, apellido FROM suptech.usuario;")

In [196]:
cursor2.fetchall()

[('Luis', 'Piedrahita'),
 ('Antonio', 'Ramirez'),
 ('Juana', 'Laluca'),
 ('Angel', 'Martin'),
 ('Patricia', 'Lutricia'),
 ('Cahlos', 'Perez'),
 ('Toro', 'Meo')]

In [197]:
# Query 5: Mostrar nombre y apellido del usuario con DNI 87276482V
# SELECT nombre, apellido FROM suptech.usuario WHERE dni="87276482V";
cursor2.execute("SELECT nombre, apellido FROM suptech.usuario WHERE dni='87276482V';")

In [198]:
cursor2.fetchall()

[('Luis', 'Piedrahita')]

In [199]:
# Query 6: Mostrar informacion de los usuarios del Colegio Ninos Malos
# SELECT u.nombre, u.apellido FROM suptech.usuario AS u INNER JOIN suptech.cuenta AS c 
# ON c.cif=u.cuenta_id WHERE c.nombre="Colegio Ninos Malos";
cursor2.execute("SELECT u.nombre, u.apellido FROM suptech.usuario AS u \
INNER JOIN suptech.cuenta AS c ON c.cif=u.cuenta_id WHERE c.nombre='Colegio Ninos Malos';")

In [200]:
cursor2.fetchall()

[('Luis', 'Piedrahita')]

In [201]:
# Query 7: Mostrar informacion de los usuarios accesibles para el terapeuta con DNI 999999999A
# SELECT u.nombre, u.apellido FROM suptech.usuario AS u INNER JOIN suptech.tiene_asignado AS t \
# ON t.usuario_id=u.dni WHERE t.terapeuta_id="99999999A";
cursor2.execute("SELECT u.nombre, u.apellido FROM suptech.usuario AS u INNER JOIN suptech.tiene_asignado AS t \
ON t.usuario_id=u.dni WHERE t.terapeuta_id='99999999A';")

In [202]:
cursor2.fetchall()

[('Luis', 'Piedrahita')]

In [203]:
# Query 8: Numero de usuarios que tiene el terapeuta Julio Sandini
# SELECT COUNT(*) FROM suptech.tiene_asignado AS u INNER JOIN suptech.terapeuta AS t \
# ON u.terapeuta_id=t.dni WHERE t.nombre="Julio" AND t.apellido="Sandini";
cursor2.execute("SELECT COUNT(*) FROM suptech.tiene_asignado AS u INNER JOIN suptech.terapeuta AS t \
ON u.terapeuta_id=t.dni WHERE t.nombre='Julio' AND t.apellido='Sandini';")

In [204]:
x = cursor2.fetchone()
print("Numero de usuario de Julio Sandini: ",x[0])

Numero de usuario de Julio Sandini:  1

In [205]:
# Query 9: Numero de usuarios que un terapeuta tiene y nombre y apellido del terapeuta
# SELECT nombre, apellido, COUNT(*) FROM suptech.tiene_asignado AS u \
# INNER JOIN suptech.terapeuta AS t ON u.terapeuta_id=t.dni GROUP BY u.terapeuta_id;
cursor2.execute("SELECT t.nombre, t.apellido, COUNT(*) FROM suptech.tiene_asignado AS u \
INNER JOIN suptech.terapeuta AS t ON u.terapeuta_id=t.dni GROUP BY t.dni;")

In [206]:
for terapeuta in cursor2.fetchall():
    print("Numero de usuarios de", terapeuta[0],terapeuta[1], ":", terapeuta[2])

Numero de usuarios de Jorse Luis : 1
Numero de usuarios de Julio Sandini : 1

In [207]:
cursor2.close()

In [208]:
conexion2.close()